<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./Style/Style.css">
    <title>QUIENES SOMOS</title>
</head>
<body>
<div id="Quienes"><img src="" alt="Logo " title="te la tarde">
    </div>
    <h2>Quienes somos</H2>
    <H4>Historia</H4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis beatae porro quaerat pariatur <em>culpa quasi doloremque quod explicabo, consectetur</em>, molestias reprehenderit aspernatur <mark>aliquid perspiciatis</mark>! Nesciunt impedit voluptatem modi deserunt.</p>
<P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia hic obcaecati eius consequuntur, <strong>quis vel eaque debitis asperiores perspiciatis!</strong> alias doloribus possimus iure provident veniam omnis eligendi vero.</P>
<br>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nulla neque hic expedita molestias eveniet <strong>reiciendis velit</strong>, eius exercitationem laborum odio! <em>Dolor repellat</em>, doloremque mollitia asperiores recusandae officiis molestiae!</p>
</body>
</html>