<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dejanos tus comentarios</h2>
    <form action="consulta.jp"></form>
        <label>Nombre</label>
        <input type="text">
        <label>Apellido</label>
        <input type="text">
        <Label>DNI</label>
            <input type="number">
        <br>
        <br>
        <textarea style="max-lines: 15;">Comentarios</textarea>
        <br>
        <br>
        <button type="submit"> Enviar</button>
    </form>
</body>
<footer>
    <a href="mailto:te90@live.com"; style="font-size: 30px;">Contactanos</a>
</footer>
</html>